# Ignore data files and large raw data
*.npy
*.npz
data/raw/
data/processed/
dataset_splits/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# TensorFlow checkpoints, logs
checkpoints/
experiments/
logs/
wandb/
training_output/
/train/archive/
/train/still_running


# VS Code settings
.vscode/
